<h1>New</h1>
<%= form_for :anagram, url: anagrams_path do |f| %>

  <% if @anagram && @anagram.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@anagram.errors.count, "error") %> prohibited
        this anagram from being saved:
      </h2>
      <ul>
        <% @anagram.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :word1 %><br>
    <%= f.text_field :word1 %>
  </p>
 
  <p>
    <%= f.label :word2 %><br>
    <%= f.text_field :word2 %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'History', anagrams_path %> <br>
<%= link_to 'Home', home_index_path %>