<p>
  <strong>Word 1:</strong>
  <%= @anagram.word1 %>
</p>
 
<p>
  <strong>Word 2:</strong>
  <%= @anagram.word2 %>
</p>

<p>
  <strong>Resultado:</strong>
  <%= @anagram.pretty_result %>
</p>

<%= link_to 'History', anagrams_path %> <br>
<%= link_to 'New anagram', new_anagram_path %>